# C++ Binarios
*.out
*.o
*.exe

# Python Cache
__pycache__/
*.py[cod]

# Proyectos Privados
ProyectosPrivados/

# Configuración de Editor (específico para tu captura)
.vscode/

# Lo que hace este archivo es listar los tipos de archivos que el repositorio va a ignorar
# Es para que no se les descargue ningun ejecutable :)